
{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <style type="text/css">
    #security1{
        position: absolute;
        top: 90px;
        left: 50px;
        width: 1960px;
        height: 875px;
    }
    .center{
    transform: scale(0.65,0.75);
    }
 </style>
{% endblock %}

{% block body %}
    {{ super() }}


    <div>
        <h4>参数值：</h4>
        <table class="table table-striped table-hover table-bordered">
            <tr>
                <th>参数名</th>
                <th>含义</th>
                <th>参数值</th>
            </tr>
            <tr>
                <td>taskNum</td>
                <td>任务数量</td>
                <td>100</td>
            </tr>
            <tr>
                <td>nodeNum</td>
                <td>节点数量</td>
                <td>20</td>
            </tr>
            <tr>
                <td>iteratorNum</td>
                <td>迭代次数</td>
                <td>100</td>
            </tr>
            <tr>
                <td>chromosomeNum</td>
                <td>染色体数量</td>
                <td>100</td>
            </tr>
            <tr>
                <td>cp</td>
                <td>染色体复制的比例</td>
                <td>0.2</td>
            </tr>
        </table>

    </div>

    <div>
        <div class="center">
{#            {% include "../static/echarts-scatter.html" %}#}
            <iframe id="security1" frameborder="0" src="/static/echarts/{{ filename }}"></iframe>
        </div>
    </div>

{% endblock %}
